@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(var(--purple), var(--text-color) );
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img.top {
    width: 100vw;
}

img.bottom {
    width: 100vw;
    height: auto;
}

main {
    
    display: grid;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2%;
    
}

.section-count {
    padding-top: 5%;
    text-align: center;
}

.countdown {
    margin-top: -3%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 10%; 
}

h3 {
    margin: 20px;
    font-size: 1em;
    color: var(--light-grey);
    font-weight: 300;
}

section > h1 {
    color: rgb(77, 36, 255);
    margin-left: 10%;
    font-size: 3em;
    font-weight: 500;  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.457);  
}

.day,
.hour,
.minute,
.second {
    font-size: 2em;
    color: var(--black);
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.535);
}



.rocket {
    width: 30em; 
    
}

p {
    color: rgb(77, 36, 255);
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);

}

button {
    color: var(--light-grey);
    background-color: rgb(77, 36, 255);
    padding: 2% 3% 2% 3%;
    border: none;
    border-radius: 10%;
    margin-top: 1%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    color: var(--light-grey); 
    cursor: pointer;
}



button:hover {
    background-color: #6C63FF;
    transform: translate(-3px,-3px);
    font-variant-caps: small-caps;
    font-weight: 500;
}

.popup {
    width: 400px;
    height: 200px;
    background: var(--light-grey);
    border-radius: 6px;
    box-shadow: 2px 2px 5px #00000059;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup p {
    margin-top: 5%;
    padding: 0 2% 0 2%;
}

.popup button {
    margin-top: 6%;
}

input{
    border-radius: 6px;
    border: none;
    color: var(--light-grey);
    background-color: var(--purple);
    height: 2em;
    margin-top: 8%;
    padding-left: 2%;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

footer {
    
}
